Repository coopnorge/go-datadog-lib, changes with the owners that CODEOWNERS names for each.
All owners: @coopnorge/engineering, @coopnorge/github-review-bots, @coopnorge/cloud-security

Fix files package naming that was violates golang style
  metric/datadog.go
  metric/datadog_test.go
  metric/metric.go
  metric/metric_test.go
Owners: @coopnorge/engineering

Update middleware pckg
  go.mod
  go.sum
  gomockhandler.json
  internal/generated/mocks/labstack/echo/v4/context.go
  middleware/echo/echo.go
  middleware/echo/echo_test.go
  middleware/echo_test.go
  middleware/grpc/grpc.go
  middleware/grpc/grpc_test.go
  middleware/middleware.go
Owners: @coopnorge/github-review-bots, @coopnorge/engineering

Update echo framework components to latest
  go.mod
  go.sum
  gomockhandler.json
Owners: @coopnorge/github-review-bots, @coopnorge/engineering

Rename boostrap pckg name (#40)
  boostrap_test.go
  bootstrap.go
Owners: @coopnorge/engineering

Fix files package naming that was violates golang style (#41)
  metric/datadog.go
  metric/datadog_test.go
  metric/metric.go
  metric/metric_test.go
Owners: @coopnorge/engineering

Update middleware pckg (#43)
  go.mod
  go.sum
  gomockhandler.json
  internal/generated/mocks/labstack/echo/v4/context.go
  middleware/echo/echo.go
  middleware/echo/echo_test.go
  middleware/echo_test.go
  middleware/grpc/grpc.go
  middleware/grpc/grpc_test.go
  middleware/middleware.go
Owners: @coopnorge/github-review-bots, @coopnorge/engineering

Fix and update echo middleware
  docs/index.md
  gomockhandler.json
  internal/generated/mocks/metric/datadog.go
  middleware/echo/echo.go
  middleware/echo/echo_test.go
Owners: @coopnorge/engineering

Propagate errors in bootstrap and metric constructor
  boostrap_test.go
  bootstrap.go
  metric/datadog.go
  metric/datadog_test.go
Owners: @coopnorge/engineering

Update doc examples
  docs/index.md
Owners: @coopnorge/engineering

Remove not used wrokflow for this repository
  .github/workflows/approve-and-merge-dependabot-pr.yaml
Owners: @coopnorge/engineering

Fix and update echo middleware (#50)
  docs/index.md
  gomockhandler.json
  internal/generated/mocks/metric/datadog.go
  middleware/echo/echo.go
  middleware/echo/echo_test.go
Owners: @coopnorge/engineering

Remove not used wrokflow for this repository (#52)
  .github/workflows/approve-and-merge-dependabot-pr.yaml
Owners: @coopnorge/engineering

Propagate errors in bootstrap and metric constructor (#51)
  boostrap_test.go
  bootstrap.go
  docs/index.md
  metric/datadog.go
  metric/datadog_test.go
Owners: @coopnorge/engineering

Update configuration of datadog params via socket connection
  config/config.go
  config/config_test.go
  docs/index.md
Owners: @coopnorge/engineering

Update config.go
  config/config.go
  config/config_test.go
Owners: @coopnorge/engineering

Update config_test.go
  config/config_test.go
Owners: @coopnorge/engineering

Update configuration of datadog params via socket connection (#55)
  config/config.go
  config/config_test.go
  docs/index.md
Owners: @coopnorge/engineering

Update Datadog conf docs
  docs/index.md
Owners: @coopnorge/engineering

Fix doc lint issue
  docs/index.md
Owners: @coopnorge/engineering

Add env to vocab
  .vale/styles/Vocab/General/accept.txt
Owners: @coopnorge/engineering

Update Datadog conf docs (#60)
  .vale/styles/Vocab/General/accept.txt
  docs/index.md
Owners: @coopnorge/engineering

Add organization prefix name for metric name and allow override tags and service prefix for datadog metrics
  metric/datadog.go
Owners: @coopnorge/engineering

Make datadog client wrapper public in base metric collector
  metric/datadog.go
  metric/metric.go
  metric/metric_test.go
Owners: @coopnorge/engineering

Fix unit test
  metric/datadog_test.go
Owners: @coopnorge/engineering

Refine property name in base metric collector to more specific
  metric/datadog.go
  metric/datadog_test.go
  metric/metric.go
  metric/metric_test.go
Owners: @coopnorge/engineering

Metrics update (#74)
  metric/datadog.go
  metric/datadog_test.go
  metric/metric.go
  metric/metric_test.go
Owners: @coopnorge/engineering

Fix techdocs working dir
  docker-compose.yaml
Owners: @coopnorge/engineering

Add runtime metrics for tracer so it will be showed in Datadog
  bootstrap.go
Owners: @coopnorge/engineering

Add runtime metrics for tracer so it will be showed in Datadog (#87)
  bootstrap.go
Owners: @coopnorge/engineering

Add dependabot approve config and docker lock
  .github/workflows/approve-and-merge-dependabot-pr.yaml
  docker-lock.json
Owners: @coopnorge/engineering

Remove dependabot config for auto approve since it's not works with public repo
  .github/workflows/approve-and-merge-dependabot-pr.yaml
Owners: @coopnorge/engineering

Add dependabot approve config and docker lock (#99)
  docker-lock.json
Owners: @coopnorge/engineering

Use specific tag
  docker-compose/Dockerfile
Owners: @coopnorge/github-review-bots, @coopnorge/engineering

Fix wrong editorconfig values
  .editorconfig
Owners: @coopnorge/engineering

Fix wrong editorconfig values (#108)
  .editorconfig
Owners: @coopnorge/engineering

Fix formatting to make future changes simple
  boostrap_test.go
  bootstrap.go
  config/config.go
  config/config_test.go
  internal/generated/mocks/labstack/echo/v4/context.go
  metric/metric.go
  metric/metric_test.go
  middleware/echo/echo.go
  middleware/echo/echo_test.go
  middleware/grpc/grpc.go
  middleware/grpc/grpc_test.go
Owners: @coopnorge/engineering

Fix formatting to make future changes simple (#111)
  boostrap_test.go
  bootstrap.go
  config/config.go
  config/config_test.go
  internal/generated/mocks/labstack/echo/v4/context.go
  metric/metric.go
  metric/metric_test.go
  middleware/echo/echo.go
  middleware/echo/echo_test.go
  middleware/grpc/grpc.go
  middleware/grpc/grpc_test.go
Owners: @coopnorge/engineering

Improve setup documentation
  docs/index.md
Owners: @coopnorge/engineering

Improve setup documentation (#109)
  docs/index.md
Owners: @coopnorge/engineering

Use golang-devtools to align repository with Coop best practices
  .github/linters/.golangci.yml
  .github/linters/.markdown-lint.yml
  .github/workflows/build.yml
  .github/workflows/cicd.yaml
  .github/workflows/techdocs.yaml
  .github/workflows/test.yml
  README.md
  devtools.env
  docker-compose.yaml
  docker-compose/Dockerfile
  docs/index.md
  metric/datadog.go
  metric/metric.go
  metric/metric_test.go
  middleware/echo/echo_test.go
  tracing/log_test.go
  tracing/tracing.go
  tracing/tracing_test.go
Owners: @coopnorge/engineering, @coopnorge/github-review-bots

CODEOWNERS:

* @coopnorge/engineering

Dockerfile @coopnorge/github-review-bots @coopnorge/engineering
go.mod @coopnorge/github-review-bots @coopnorge/engineering
go.sum @coopnorge/github-review-bots @coopnorge/engineering
vendor @coopnorge/github-review-bots @coopnorge/engineering
pyproject.toml @coopnorge/github-review-bots @coopnorge/engineering
poetry.lock @coopnorge/github-review-bots @coopnorge/engineering

/CODEOWNERS @coopnorge/cloud-security
.github/workflows/security-* @coopnorge/cloud-security
