Repository coopnorge/go-datadog-lib, changes with the owners that CODEOWNERS names for each.
All owners: @coopnorge/engineering, @coopnorge/github-review-bots, @coopnorge/cloud-security

CODEOWNERS:

* @coopnorge/engineering

Dockerfile @coopnorge/github-review-bots @coopnorge/engineering
go.mod @coopnorge/github-review-bots @coopnorge/engineering
go.sum @coopnorge/github-review-bots @coopnorge/engineering
vendor @coopnorge/github-review-bots @coopnorge/engineering
pyproject.toml @coopnorge/github-review-bots @coopnorge/engineering
poetry.lock @coopnorge/github-review-bots @coopnorge/engineering

/CODEOWNERS @coopnorge/cloud-security
.github/workflows/security-* @coopnorge/cloud-security

Use golang-devtools to align repository with Coop best practices (#112)
  .github/linters/.golangci.yml
  .github/linters/.markdown-lint.yml
  .github/workflows/build.yml
  .github/workflows/cicd.yaml
  .github/workflows/techdocs.yaml
  .github/workflows/test.yml
  README.md
  devtools.env
  docker-compose.yaml
  docker-compose/Dockerfile
  docs/index.md
  metric/datadog.go
  metric/metric.go
  metric/metric_test.go
  middleware/echo/echo_test.go
  tracing/log_test.go
  tracing/tracing.go
  tracing/tracing_test.go
Owners: @coopnorge/engineering, @coopnorge/github-review-bots

Make the bootstrap API easier to use
  boostrap_test.go
  bootstrap.go
  config/config.go
  docs/index.md
Owners: @coopnorge/engineering

Make the bootstrap API easier to use (#110)
  boostrap_test.go
  bootstrap.go
  config/config.go
  docs/index.md
Owners: @coopnorge/engineering

Prepare for the release of v2
  boostrap_test.go
  bootstrap.go
  docs/index.md
  go.mod
  metric/datadog.go
  metric/datadog_test.go
  metric/metric.go
  metric/metric_test.go
  middleware/echo/echo.go
  middleware/echo/echo_test.go
  middleware/grpc/grpc.go
  middleware/grpc/grpc_test.go
  tracing/log.go
  tracing/log_test.go
  tracing/tracing.go
  tracing/tracing_test.go
Owners: @coopnorge/engineering, @coopnorge/github-review-bots

Prepare for the release of v2 (#114)
  boostrap_test.go
  bootstrap.go
  docs/index.md
  go.mod
  metric/datadog.go
  metric/datadog_test.go
  metric/metric.go
  metric/metric_test.go
  middleware/echo/echo.go
  middleware/echo/echo_test.go
  middleware/grpc/grpc.go
  middleware/grpc/grpc_test.go
  tracing/log.go
  tracing/log_test.go
  tracing/tracing.go
  tracing/tracing_test.go
Owners: @coopnorge/engineering, @coopnorge/github-review-bots

Update docs to reflect how we want to version in Datadog
  docs/index.md
Owners: @coopnorge/engineering

Update docs to reflect how we want to version in Datadog (#121)
  docs/index.md
Owners: @coopnorge/engineering

Update DatadogConfig to use json tag
  config/config.go
Owners: @coopnorge/engineering

Update DatadogConfig to use json tag (#123)
  config/config.go
Owners: @coopnorge/engineering

Update json autogenerated tags to be same as mapstructure. Parse string to bool to support 2 ways of config loading via env
  boostrap_test.go
  config/config.go
  config/config_test.go
Owners: @coopnorge/engineering

Code Review updates
  config/config.go
Owners: @coopnorge/engineering

Update DatadogConfig parsing (#125)
  boostrap_test.go
  config/config.go
  config/config_test.go
Owners: @coopnorge/engineering

Register dependencies in Inventory
  catalog-info.yaml
Owners: @coopnorge/engineering

Register dependencies in Inventory (#127)
  catalog-info.yaml
Owners: @coopnorge/engineering

Revert "Update DatadogConfig parsing (#125)"
  boostrap_test.go
  config/config.go
  config/config_test.go
Owners: @coopnorge/engineering

Revert "Update DatadogConfig parsing (#125)" (#129)
  boostrap_test.go
  config/config.go
  config/config_test.go
Owners: @coopnorge/engineering

Update go-datadog-lib docs
  docs/index.md
Owners: @coopnorge/engineering

Add support for streaming gRPC servers
  go.mod
  go.sum
  middleware/grpc/grpc.go
  middleware/grpc/grpc_test.go
Owners: @coopnorge/github-review-bots, @coopnorge/engineering

Add support for streaming gRPC servers (#132)
  go.mod
  go.sum
  middleware/grpc/grpc.go
  middleware/grpc/grpc_test.go
Owners: @coopnorge/github-review-bots, @coopnorge/engineering

Update go-datadog-lib docs (#131)
  docs/index.md
Owners: @coopnorge/engineering

Improve PR handling by adding a policy bot
  .policy.yml
Owners: @coopnorge/engineering

Improve PR handling by adding a policy bot (#141)
  .policy.yml
Owners: @coopnorge/engineering
